.page{
    width: 100%;
    margin-top: 20px;
    &__body{
        display: flex;
        flex-direction: column;
        gap: 18px;
        &-soft{
            display: flex;
            align-items: center;
            gap: 20px;
            span{
                font-size: 16px;
                font-weight: 700;
                line-height: 21.79px;
                text-align: left;
                color: var(--gray);
            }
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 21.79px;
                text-align: left;
                color: var(--gray);
            }
        }
        &-box{
            display: flex;
            flex-direction: column;
            gap: 40px;
            &-actor{
                display: flex;
                gap: 20px;
                img{
                    width: 280px;
                    height: 390px;
                    border-radius: 10px;
                }
                &-text{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    &-name{
                        font-size: 26px;
                        font-weight: 400;
                        line-height: 31.71px;
                        text-align: left;
                        color: var(--yellow);
                    }
                    &-desc{
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 24.51px;
                        text-align: left;
                        color: var(--gray);
                    }
                    &-tag{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        span{
                            padding: 4px 13px;
                            border-radius: 6px;
                            background: #333239;
                            font-size: 18px;
                            font-style: italic;
                            font-weight: 600;
                            line-height: 24.51px;
                            text-align: left;
                            color: var(--white);
                        }
                    }
                    &-item{
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        span{
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 24.51px;
                            text-align: left;
                            color: var(--gray);
                        }
                        p{
                            font-size: 18px;
                            font-style: italic;
                            font-weight: 600;
                            line-height: 24.51px;
                            text-align: left;
                            color: var(--white);
                        }
                    }
                }
            }
            &-item{
                display: flex;
                flex-direction: column;
                gap: 30px;
                span{
                    font-size: 26px;
                    font-weight: 400;
                    line-height: 31.71px;
                    text-align: left;
                    color: var(--yellow);
                }
                p{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24.51px;
                    text-align: left;
                    color: var(--white);
                }
            }
            &-images{
                margin-top: -20px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 266px;
                    height: 320px;
                }
            }
        }
    }
}


.page__wrap{
    position: relative;
}
.a__img{
    position: absolute;
    width: 1440px;
    height: 1104px;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(0px);
}