<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/impact" rel="stylesheet">
    <link rel="stylesheet" href="../scss/style.min.css">
    <title>Fallout</title>
</head>

<body>
    <div class="main__wrap">
    <img class="m__img desk" src="images/dist/m__img.png" alt="">
    <img class="m__img mob" src="../images/dist/m__img-mob.png" alt="">
    <header class="header">
        <div class="container">
            <div class="header__body desk">
                <a href="main.html" class="header__body-logo">
                    <img src="images/dist/header__logo.png" alt="">
                </a>
                <nav class="header__body-menu">
                    <ul class="header__body-menu-links">
                        <li class="header__body-menu-links-item">
                            <a class="hover" href="main.html">Главная</a>
                        </li>
                        <li class="header__body-menu-links-item acc">
                            <div class="hover">
                                Выбрать сезон
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6449 9C18.3619 9 18.079 9.07964 17.8631 9.23946L12.75 13.025L7.63692 9.23946C7.20512 8.92036 6.5051 8.92036 6.0733 9.23946C5.64223 9.5591 5.64223 10.0773 6.0733 10.3969L11.9682 14.7607C12.4 15.0798 13.1 15.0798 13.5318 14.7607L19.4267 10.3969C19.8578 10.0773 19.8578 9.5591 19.4267 9.23946C19.2108 9.07964 18.9278 9 18.6449 9Z" fill="white"/>
                                </svg>                                
                            </div>
                            <div class="header__body-menu-links-item-acc">
                                <a href="" class="op">1 сезон</a>
                                <a href="" class="op">2 сезон</a>
                                <a href="" class="op">3 сезон</a>
                            </div>
                        </li>
                        <li class="header__body-menu-links-item">
                            <a class="hover" href="actor.html">Актёры</a>
                        </li>
                        <li class="header__body-menu-links-item">
                            <a class="hover" href="news.html">Новости</a>
                        </li>
                        <li class="header__body-menu-links-item">
                            <a class="hover" href="">«Иерихон»</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__mobile mob">
                <div class="header__mobile-top">
                    <a href="main.html" class="header__mobile-top-logo">
                        <img src="images/dist/header__logo.png" alt="">
                    </a>
                    <div class="burger">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35 10H5" stroke="#2580EA" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M35 20H15" stroke="#2580EA" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M35 30L11 30" stroke="#2580EA" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                </div>
                <div class="header__mobile-bot">
                    <button class="close">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30 10L10 30" stroke="#2580EA" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10 10L30 30" stroke="#2580EA" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </button>
                    <a href="main.html" class="header__body-logo">
                        <img src="images/dist/header__logo.png" alt="">
                    </a>
                    <nav class="header__body-menu">
                        <ul class="header__body-menu-links">
                            <li class="header__body-menu-links-item">
                                <a class="hover" href="main.html">Главная</a>
                            </li>
                            <li class="header__body-menu-links-item acc">
                                <div class="hover">
                                    Выбрать сезон
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6449 9C18.3619 9 18.079 9.07964 17.8631 9.23946L12.75 13.025L7.63692 9.23946C7.20512 8.92036 6.5051 8.92036 6.0733 9.23946C5.64223 9.5591 5.64223 10.0773 6.0733 10.3969L11.9682 14.7607C12.4 15.0798 13.1 15.0798 13.5318 14.7607L19.4267 10.3969C19.8578 10.0773 19.8578 9.5591 19.4267 9.23946C19.2108 9.07964 18.9278 9 18.6449 9Z" fill="white"/>
                                    </svg>                                
                                </div>
                                <div class="header__body-menu-links-item-acc">
                                    <a href="" class="op">1 сезон</a>
                                    <a href="" class="op">2 сезон</a>
                                    <a href="" class="op">3 сезон</a>
                                </div>
                            </li>
                            <li class="header__body-menu-links-item">
                                <a class="hover" href="actor.html">Актёры</a>
                            </li>
                            <li class="header__body-menu-links-item">
                                <a class="hover" href="news.html">Новости</a>
                            </li>
                            <li class="header__body-menu-links-item">
                                <a class="hover" href="">«Иерихон»</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__body">
                <div class="main__body-start">
                    <h1 class="main__body-start-title">
                        Фоллаут
                    </h1>
                    <span class="main__body-start-softtitle">
                        Fallout
                    </span>
                    <div class="main__body-start-grade">
                        <div class="main__body-start-grade-item op">
                            <p>КП <span>- 8,7</span></p>
                            
                        </div>
                        <div class="main__body-start-grade-item op">
                            <p>IMDB <span>- 8,7</span></p>
                        </div>
                    </div>
                    <div class="main__body-start-char">
                        <span class="op">2023</span>
                        <span class="op">|</span>
                        <span class="op">1 сезон</span>
                        <span class="op">|</span>
                        <span class="op">Фантастика</span>
                        <span class="op">|</span>
                        <span class="op">Америка</span>
                    </div>
                    <p class="main__body-start-desc op">
                        Мир погрузился в мрачную реальность ядерного постапокалипсиса. Выжили немногие — те люди, что укрылись в особых бункерах и других относительно безопасных местах. Судьба остальных оказалась незавидной. Те, кому повезло не умереть, стали гулями, радиоактивными монстрами.
                        <br><br>Спустя 200 с лишним лет двери Убежищ наконец открылись, и началась новая эра человечества
                    </p>
                    <button class="main__body-start-btn">
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.80952 6.9208L11.8977 9.19C12.4432 9.59082 12.4411 10.4064 11.8937 10.8046L3.58817 16.845C2.9272 17.3257 2 16.8535 2 16.0362L2 3.95143C2 3.13648 2.92252 2.66374 3.58403 3.1397L6.05952 4.9208" stroke="white" stroke-width="2"/>
                        </svg>
                        <span class="op">Смотреть с 1 серии</span>                        
                    </button>
                </div>
                <div class="main__body-end">
                    <div class="wrap">
                        <span class="main__body-end-title">
                            До новой серии:
                        </span>
                        <div class="main__body-end-time">
                            <div class="main__body-end-time-item">
                                <span>Дней</span>
                                <div class="main__body-end-time-item-num">
                                    <img src="images/dist/time__img.png" alt="">
                                    <div class="line"></div>
                                    <p>00</p>
                                </div>
                            </div>
                            <div class="main__body-end-time-item">
                                <span>Часов</span>
                                <div class="main__body-end-time-item-num">
                                    <img src="images/dist/time__img.png" alt="">
                                    <div class="line"></div>
                                    <p>21</p>
                                </div>
                            </div>
                            <div class="main__body-end-time-item">
                                <span>Минут</span>
                                <div class="main__body-end-time-item-num">
                                    <img src="images/dist/time__img.png" alt="">
                                    <div class="line"></div>
                                    <p>56</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="main__body-end-watch">
                        <img src="images/dist/end__img.png" alt="">
                        <span>
                            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.80952 6.9208L11.8977 9.19C12.4432 9.59082 12.4411 10.4064 11.8937 10.8046L3.58817 16.845C2.9272 17.3257 2 16.8535 2 16.0362L2 3.95143C2 3.13648 2.92252 2.66374 3.58403 3.1397L6.05952 4.9208" stroke="white" stroke-width="2"/>
                            </svg>
                            Смотреть трейлер                            
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <section class="series">
        <div class="container">
            <div class="series__body">
                <h2 class="series__body-title">
                    Все сезоны сериала
                </h2>
                <div class="series__body-tab">
                    <span class="series__body-tab-item active" data-tab="1">
                        1 сезон
                    </span>
                    <span class="series__body-tab-item" data-tab="2">
                        2 сезон
                    </span>
                    <span class="series__body-tab-item" data-tab="3">
                        3 сезон
                    </span>
                </div>
                <div class="series__body-box" data-tab="1">
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/1.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Конец</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/2.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Цель</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/3.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Голова</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/4.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Упыри</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/5.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Прошлое</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/6.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Ловушка</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/7.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Радио</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/8.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Начало</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="series__body-box none" data-tab="2">
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/1.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Конец</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/2.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Цель</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/3.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Голова</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/4.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Упыри</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/5.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Прошлое</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/6.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Ловушка</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/7.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Радио</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/8.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Начало</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="series__body-box none" data-tab="3">
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/1.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Конец</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/2.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Цель</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/3.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Голова</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/4.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Упыри</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/5.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Прошлое</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/6.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Ловушка</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/7.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Радио</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                    <a href="player.html" class="series__body-box-item">
                        <div class="blur">
                            <div class="circle">
                                <svg width="20" height="26" viewBox="0 0 20 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.3899 8.18875L17.8352 12.19C18.3806 12.5908 18.3786 13.4064 17.8312 13.8046L3.33817 24.345C2.6772 24.8257 1.75 24.3535 1.75 23.5362L1.75 2.45143C1.75 1.63648 2.67252 1.16374 3.33404 1.6397L8.09301 5.06375" stroke="white" stroke-width="2"/>
                                </svg>                                
                            </div>
                        </div>
                        <img src="images/dist/series/8.png" alt="">
                        <div class="series__body-box-item-text">
                            <p class="op">Начало</p>
                            <div class="series__body-box-item-text-soft">
                                <span>Сезон 1</span>
                                <span>Серия 1</span>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </section>
    <section class="news">
        <div class="container">
            <div class="news__body">
                <h2 class="news__body-title">
                    Новости
                </h2>
                <div class="news__body-box">
                    <div class="news__body-box-item">
                        <div class="news__body-box-item-top">
                            <img class="back" src="images/dist/news/2.png" alt="">
                            <div class="blur"></div>
                            <div class="news__body-box-item-top-text">
                                <span>НОВОСТИ И ФАКТЫ СЕРИАЛА ФОЛЛАУТ "FALLOUT" 2024</span>
                                <img src="images/dist/news__arrow.png" alt="">
                            </div>
                        </div>
                        <p>Специально для тех, кто не знал - "Fallout" переводится с английского как выпадение радиоактивных осадков. Amazon наконец-то предоставил большой публике кадры из их нового сериала "Fallout".</p>
                    </div>
                    <div class="news__body-box-item">
                        <div class="news__body-box-item-top">
                            <img class="back" src="images/dist/news/1.png" alt="">
                            <div class="blur"></div>
                            <div class="news__body-box-item-top-text">
                                <span>НОВОСТИ И ФАКТЫ СЕРИАЛА ФОЛЛАУТ "FALLOUT" 2024</span>
                                <img src="images/dist/news__arrow.png" alt="">
                            </div>
                        </div>
                        <p>После своего огромного успеха за последние несколько недель Prime Video приняла решение, которое многие, скорее всего, предвидели — мир "Поколение «Ви»" будет продолжаться еще довольно долго. В сегодняшнем заявлении...</p>
                    </div>
                    <div class="news__body-box-item">
                        <div class="news__body-box-item-top">
                            <img class="back" src="images/dist/news/2.png" alt="">
                            <div class="blur"></div>
                            <div class="news__body-box-item-top-text">
                                <span>НОВОСТИ И ФАКТЫ СЕРИАЛА ФОЛЛАУТ "FALLOUT" 2024</span>
                                <img src="images/dist/news__arrow.png" alt="">
                            </div>
                        </div>
                        <p>Сериал о супергероях от Amazon Prime «Пацаны» основан на одноименной серии комиксов. В экранизации комикса много что изменилось. После успешной адаптации комикса Гарта Энниса "Проповедник" , шоураннеры Сет Роген и...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info">
        <div class="container">
            <div class="info__body">
                <h2 class="info__body-title">
                    Информация о сериале
                </h2>
                <div class="info__body-box">
                    <div class="info__body-box-char">
                        <div class="info__body-box-char-item">
                            <span>Рейтинг сериала:</span>
                            <p>IMDB — 8,7</p>
                        </div>
                        <div class="info__body-box-char-item">
                            <span>Страна:</span>
                            <p>США</p>
                        </div>
                        <div class="info__body-box-char-item">
                            <span>Дата выхода:</span>
                            <p>10 апреля 2024 года</p>
                        </div>
                        <div class="info__body-box-char-item">
                            <span>Всего сезонов:</span>
                            <p>3</p>
                        </div>
                        <div class="info__body-box-char-item">
                            <span>В качестве:</span>
                            <p>1080p</p>
                        </div>
                        <div class="info__body-box-char-item">
                            <span>Время:</span>
                            <p>60 мин.</p>
                        </div>
                    </div>
                    <div class="info__body-box-tag">
                        <div class="info__body-box-tag-item">
                            <span>В ролях актеры:</span>
                            <div class="info__body-box-tag-item-desc">
                                <p>Элла Пернелл</p>
                                <p>Аарон Мотен</p>
                                <p>Уолтон Гоггинс</p>
                                <p>Мойзес Ариас</p>
                            </div>
                        </div>
                        <div class="info__body-box-tag-item">
                            <span>Жанр:</span>
                            <div class="info__body-box-tag-item-desc">
                                <p>Фантастика</p>
                                <p>Боевик</p>
                                <p>Драма</p>
                                <p>Приключения</p>
                            </div>
                        </div>
                        <div class="info__body-box-tag-item">
                            <span>Режисcер:</span>
                            <div class="info__body-box-tag-item-desc">
                                <p>Филип Сгриккиа</p>
                                <p>Сара Бойд</p>
                                <p>Стефан Шварц</p>
                            </div>
                        </div>
                    </div>
                    <img src="images/dist/info__img.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="actor">
        <div class="container">
            <div class="actor__body">
                <h2 class="actor__body-title">
                    Актерский состав
                </h2>
                <div class="actor__body-box">
                    <div class="actor__body-box-item">
                        <img src="images/dist/actor/1.png" alt="">
                        <span>Элла Пернелл</span>
                    </div>
                    <div class="actor__body-box-item">
                        <img src="images/dist/actor/2.png" alt="">
                        <span>Аарон Мотен</span>
                    </div>
                    <div class="actor__body-box-item">
                        <img src="images/dist/actor/3.png" alt="">
                        <span>Уолтон Гоггинс</span>
                    </div>
                    <div class="actor__body-box-item">
                        <img src="images/dist/actor/4.png" alt="">
                        <span>Мойзес Ариас</span>
                    </div>
                    <div class="actor__body-box-item">
                        <img src="images/dist/actor/5.png" alt="">
                        <span>Дэйв Реджистер</span>
                    </div>
                </div>
                <button class="actor__body-btn">
                    Смотреть всех
                </button>
            </div>
        </div>
    </section>
    <section class="plot">
        <div class="container">
            <div class="plot__body">
                <div class="plot__body-item">
                    <div class="plot__body-item-text">
                        <span>Cюжет сериала Fallout</span>
                        <p class="op">В 2077 году в результате Великой войны — глобального столкновения сразу нескольких ядерных держав — большая часть человечества погибла. Американская компания Vault-Tec заблаговременно позаботилась о будущем людей, а потому построила Убежища — группу связанных между собой подземных городов-бункеров, которые рассчитаны на автономное существование в течение десятков лет. В 2296 году обитательница Убежища 33 Люси (Элла Пернелл) собралась замуж за незнакомца из Убежища 32
                            <br>События проекта развиваются в мрачном постапокалиптическом будущем, где люди делятся на живущих на поверхности земли и глубоко под землей, в специальных убежищах. Fallout стал самым популярным сериалом не только апреля, но, пожалуй, и всей весны. Проект хвалят и зрители, и критики. Разбираемся, правда ли экранизация удалась. Проект хвалят и зрители, и критики. Разбираемся, правда ли экранизация удалась.</p>
                    </div>
                    <img class="desktop" src="images/dist/plot1.png" alt="">
                    <img class="mob" src="" alt="">
                </div>
                <div class="plot__body-item">
                    <img src="images/dist/plot2.png" alt="">
                    <img class="mob" src="" alt="">
                    <div class="plot__body-item-text">
                        <span>Факты о сериале</span>
                        <p class="op">Первая серия видеоигры Fallout была выпущена разработчиком Black Isle Studios и издателем Interplay Entertainment в далеком 1997 году. Позднее права на игру получила компания Bethesda — RPG превратилась в шутер, однако главные элементы остались неизменными. В мире Fallout человечество не продвинулось дальше 1950-х — якобы счастливого послевоенного времени с милыми песенками, бумом консьюмеризма и расцветом технологий. Безоблачного будущего не случилось, вместе с прогрессом пришло и новое оружие массового уничтожения. Авторы видеоигры жестко и в то же время метко иронизировали над американской мечтой и удачно сталкивали на мониторе компьютера ретрофутуризм и постапокалипсис. Получилось узнаваемое сочетание, которое ни с чем другим не перепутать.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <footer class="footer">
        <div class="footer__body">
            <div class="footer__body-logo">
                <a href="">
                    <img src="images/dist/footer__logo.png" alt="">
                </a>
            </div>
            <nav class="footer__body-menu">
                <ul class="footer__body-menu-links">
                    <li class="footer__body-menu-links-item">
                        <a class="hover" href="main.html">Главная</a>
                    </li>
                    <li class="header__body-menu-links-item acc">
                        <div class="hover">
                            Выбрать сезон
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6449 9C18.3619 9 18.079 9.07964 17.8631 9.23946L12.75 13.025L7.63692 9.23946C7.20512 8.92036 6.5051 8.92036 6.0733 9.23946C5.64223 9.5591 5.64223 10.0773 6.0733 10.3969L11.9682 14.7607C12.4 15.0798 13.1 15.0798 13.5318 14.7607L19.4267 10.3969C19.8578 10.0773 19.8578 9.5591 19.4267 9.23946C19.2108 9.07964 18.9278 9 18.6449 9Z" fill="white"/>
                            </svg>                                
                        </div>
                        <div class="header__body-menu-links-item-acc">
                            <a href="" class="op">1 сезон</a>
                            <a href="" class="op">2 сезон</a>
                            <a href="" class="op">3 сезон</a>
                        </div>
                    </li>
                    <li class="footer__body-menu-links-item">
                        <a class="hover" href="actor.html">Актёры</a>
                    </li>
                    <li class="footer__body-menu-links-item">
                        <a class="hover" href="news.html">Новости</a>
                    </li>
                    <li class="footer__body-menu-links-item">
                        <a class="hover" href="">«Иерихон»</a>
                    </li>
                </ul>
            </nav>
            <p class="footer__body-right op">
                Fallout © 2023 Все материалы представлены в ознакомительных целях, все права принадлежат их владельцам.
            </p>
        </div>
    </footer>
    <button class="sc__top">
        <img src="images/dist/scroll__top.png" alt="">
    </button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="js/main.min.js"></script>
</body>

</html>