<section class="page">
    <div class="container">
        <div class="page__body">
            <div class="page__body-soft">
                <span class="op">Фоллаут</span>
                <p class="op">/</p>
                <span class="op">Актеры</span>
                <p class="op">/</p>
                <p class="op">Элла Пернелл</p>
            </div>
            <div class="page__body-box">
                <div class="page__body-box-actor">
                    <img src="../images/dist/actor/1.png" alt="">
                    <div class="page__body-box-actor-text">
                        <span class="page__body-box-actor-text-name">
                            Элла Пернелл
                        </span>
                        <p class="page__body-box-actor-text-desc op">
                            Ella Purnell, 17 сентября 1996 • 27 лет
                        </p>
                        <div class="page__body-box-actor-text-tag">
                            <span class="op">Актриса</span>
                            <span class="op">Режиссёр</span>
                            <span class="op">Сценарист</span>
                            <span class="op">Продюсер</span>
                        </div>
                        <div class="page__body-box-actor-text-item">
                            <span class="op">Рост:</span>
                            <p class="op">1,63 см</p>
                        </div>
                        <div class="page__body-box-actor-text-item">
                            <span class="op">Место рождения:</span>
                            <p class="op">Лондон, Англия</p>
                        </div>
                        <div class="page__body-box-actor-text-item">
                            <span class="op">Гражданство:</span>
                            <p class="op">Великобритания</p>
                        </div>
                    </div>
                </div>
                <div class="page__body-box-item">
                    <span>Факты</span>
                    <p class="op">Пернелл родилась 17 сентября 1996 года в Уайтчепеле, Англия, Великобритания, однако выросла в 4=Bethnal Green вместе с матерью. Пернелл посещала 4=Forest School, Walthamstow, Лондонскую школу для девочек, 4=Young Actors Theatre Islington и школу Монтессори. Она также посещала театральную школу Силвии Янг изучая актерское мастерство, пение и танцы.</p>
                </div>
                <div class="page__body-box-item">
                    <span>Карьера</span>
                    <p class="op">
                        В 2008 году исполнила роль в мюзикле «Оливер!» в театре «Друри-Лейн».
                        <br>Кинодебют состоялся в 2010 году в фильме Марка Романека «Не отпускай меня». Получила известность благодаря ролям в фильмах «Не отпускай меня», «Малефисента» и «Дикость». В 2016 году вышли новые фильмы с её участием — «Дом странных детей мисс Перегрин» и «Тарзан. Легенда».
                        <br>В 2018—2019 годах снималась в сериале «Сладкая горечь».
                    </p>
                </div>
                <div class="page__body-box-images">
                    <img src="../images/dist/page/1.png" alt="">
                    <img src="../images/dist/page/2.png" alt="">
                    <img src="../images/dist/page/3.png" alt="">
                    <img src="../images/dist/page/4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="actor pd-bt">
    <div class="container">
        <div class="actor__body">
            <h2 class="actor__body-title">
                Актерский состав
            </h2>
            <div class="actor__body-box">
                <div class="actor__body-box-item">
                    <img src="../images/dist/actor/1.png" alt="">
                    <span>Элла Пернелл</span>
                </div>
                <div class="actor__body-box-item">
                    <img src="../images/dist/actor/2.png" alt="">
                    <span>Аарон Мотен</span>
                </div>
                <div class="actor__body-box-item">
                    <img src="../images/dist/actor/3.png" alt="">
                    <span>Уолтон Гоггинс</span>
                </div>
                <div class="actor__body-box-item">
                    <img src="../images/dist/actor/4.png" alt="">
                    <span>Мойзес Ариас</span>
                </div>
                <div class="actor__body-box-item">
                    <img src="../images/dist/actor/5.png" alt="">
                    <span>Дэйв Реджистер</span>
                </div>
            </div>
            <button class="actor__body-btn">
                Смотреть всех
            </button>
        </div>
    </div>
</section>